# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_clean=pd.read_csv("../output_data/cities_clean.csv")

In [3]:
cities_clean.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hithadhoo,-0.60,73.08,84.85,70.0,79.0,8.43,MV,1593153683
1,Vaini,-21.20,-175.20,75.20,83.0,75.0,5.82,TO,1593153988
2,Araouane,18.90,-3.53,92.25,23.0,50.0,9.91,ML,1593154069
3,Provideniya,64.38,-173.30,44.60,65.0,75.0,15.66,RU,1593153983
4,Youghal,51.95,-7.85,60.01,87.0,75.0,4.70,IE,1593154069

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations=cities_clean[["Lat","Lng"]]

In [6]:
rating = cities_clean["Humidity"].astype(float)

max_humidity=cities_clean["Humidity"].max()

print(max_humidity)

100.0

In [7]:
# Plot Heatmap
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius=2,opacity=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
cities_weather_best=cities_clean[((cities_clean["Max Temp"]>70) & (cities_clean["Max Temp"]<80))&(cities_clean["Wind Speed"]<10)&(cities_clean["Cloudiness"]==0)]

In [9]:
cities_weather_best.reset_index(drop=True)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Noumea,-22.28,166.46,72.00,60.0,0.0,3.36,NC,1593154070
1,Morondava,-20.28,44.28,76.01,70.0,0.0,8.37,MG,1593154044
2,Kresttsy,58.25,32.52,78.06,51.0,0.0,4.27,RU,1593154072
3,Faya,18.39,42.45,78.80,17.0,0.0,9.17,SA,1593153983
4,Cabo San Lucas,22.89,-109.91,78.01,88.0,0.0,8.10,MX,1593153826
5,Yeppoon,-23.13,150.73,73.40,31.0,0.0,4.70,AU,1593153950
6,Kyotera,-0.62,31.52,77.41,46.0,0.0,8.79,UG,1593154075
7,Rakitnoye,50.84,35.85,77.00,50.0,0.0,8.95,RU,1593154075
8,Mbarara,-0.61,30.65,72.70,57.0,0.0,6.73,UG,1593154049
9,Abhā,18.22,42.51,78.80,17.0,0.0,9.17,SA,1593154077
10,Ust-Kuyga,70.02,135.60,79.50,36.0,0.0,7.18,RU,1593154050
11,Mareeba,-17.00,145.43,73.00,63.0,0.0,5.99,AU,1593154078
12,Bani Walid,31.76,13.99,75.20,49.0,0.0,6.98,LY,1593154079
13,Novikovo,51.15,37.89,73.58,69.0,0.0,8.55,RU,1593154052
14,Vyaz'ma,55.21,34.30,72.34,70.0,0.0,3.74,RU,1593154081
15,Liepāja,56.54,21.04,78.80,57.0,0.0,3.36,LV,1593154054
16,Mossamedes,-15.20,12.15,72.09,46.0,0.0,3.53,AO,1593153956
17,Montepulciano,43.10,11.79,73.99,72.0,0.0,2.59,IT,1593154084
18,Krasnomayskiy,57.62,34.41,78.12,47.0,0.0,2.55,RU,1593154085
19,Dubna,56.73,37.17,72.66,59.0,0.0,2.64,RU,1593153802
20,Ruzhyn,49.72,29.20,71.60,56.0,0.0,4.47,UA,1593154059
21,Bobrovytsya,50.75,31.38,75.20,47.0,0.0,2.24,UA,1593153895
22,Goubellat,36.54,9.66,78.80,57.0,0.0,3.36,TN,1593154089
23,Esqueda,30.72,-109.58,79.88,17.0,0.0,1.97,MX,1593154090
24,Timrå,62.49,17.33,78.80,47.0,0.0,5.82,SE,1593154091
25,Pachino,36.72,15.09,78.01,55.0,0.0,1.99,IT,1593154093
26,Asău,46.43,26.40,73.00,73.0,0.0,4.70,RO,1593153987

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df=pd.DataFrame(cities_weather_best).reset_index(drop=True)

In [11]:
hotel_df["Name"]=""

hotel_df.columns

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date', 'Name'],
      dtype='object')

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# run a request using our params dictionary
for index, row in hotel_df.iterrows():
#for i in range(len(hotel_df["City"])):
    #print(hotel_df[hotel_df["City"]==city]["Lat"])
    #print(hotel_df[hotel_df["City"]==city]["Lng"])
    #print(city)
    #hotel_df[hotel_df.loc[i,"City"]==city]["Lat"].astype(str)+", "+hotel_df[hotel_df.loc[i,"City"]==city]["Lng"].astype(str)
    params["location"]=str(row["Lat"])+", "+str(row["Lng"])
    
    response = requests.get(base_url, params=params)#.json()
    #print(response.url)
    hotel_data = response.json()
    
    #print(index)
    
    #print(hotel_data["results"][0]["name"])
    hotel_df.loc[index,"Name"]=hotel_data["results"][0]["name"]
    # Print the json (pretty printed)
    #print(json.dumps(places_data, indent=4, sort_keys=True))

In [13]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Name
0,Noumea,-22.28,166.46,72.00,60.0,0.0,3.36,NC,1593154070,Maison de quartier de la Vallée-des-Colons
1,Morondava,-20.28,44.28,76.01,70.0,0.0,8.37,MG,1593154044,Lycee Pole Morondava I
2,Kresttsy,58.25,32.52,78.06,51.0,0.0,4.27,RU,1593154072,Rostelecom
3,Faya,18.39,42.45,78.80,17.0,0.0,9.17,SA,1593153983,مقبرة ال مجمل
4,Cabo San Lucas,22.89,-109.91,78.01,88.0,0.0,8.10,MX,1593153826,Cervecería La Pintada
5,Yeppoon,-23.13,150.73,73.40,31.0,0.0,4.70,AU,1593153950,Vaughan's Furniture
6,Kyotera,-0.62,31.52,77.41,46.0,0.0,8.79,UG,1593154075,Nkenge play ground
7,Rakitnoye,50.84,35.85,77.00,50.0,0.0,8.95,RU,1593154075,"Aleksandrovskiy, Dk"
8,Mbarara,-0.61,30.65,72.70,57.0,0.0,6.73,UG,1593154049,RTO of Jehovah's Witneses
9,Abhā,18.22,42.51,78.80,17.0,0.0,9.17,SA,1593154077,المتوسطة السادسة للبنات
10,Ust-Kuyga,70.02,135.60,79.50,36.0,0.0,7.18,RU,1593154050,Aeroport Ust'-Kuyga
11,Mareeba,-17.00,145.43,73.00,63.0,0.0,5.99,AU,1593154078,iCrats
12,Bani Walid,31.76,13.99,75.20,49.0,0.0,6.98,LY,1593154079,Alsekbah Mosque
13,Novikovo,51.15,37.89,73.58,69.0,0.0,8.55,RU,1593154052,O.p. 630 Km
14,Vyaz'ma,55.21,34.30,72.34,70.0,0.0,3.74,RU,1593154081,Komitet Po Arkhitekture I Zemleustroystvu
15,Liepāja,56.54,21.04,78.80,57.0,0.0,3.36,LV,1593154054,Glen oil
16,Mossamedes,-15.20,12.15,72.09,46.0,0.0,3.53,AO,1593153956,Delegação Provincial da Educação
17,Montepulciano,43.10,11.79,73.99,72.0,0.0,2.59,IT,1593154084,A Day in Tuscany
18,Krasnomayskiy,57.62,34.41,78.12,47.0,0.0,2.55,RU,1593154085,"Sberbank, Bankomat"
19,Dubna,56.73,37.17,72.66,59.0,0.0,2.64,RU,1593153802,Prekossa
20,Ruzhyn,49.72,29.20,71.60,56.0,0.0,4.47,UA,1593154059,"Avtoelektryk Sto Ruzhyn, Remont Avto"
21,Bobrovytsya,50.75,31.38,75.20,47.0,0.0,2.24,UA,1593153895,"Магазин ""У Костика"""
22,Goubellat,36.54,9.66,78.80,57.0,0.0,3.36,TN,1593154089,Restaurant Pyramide
23,Esqueda,30.72,-109.58,79.88,17.0,0.0,1.97,MX,1593154090,Iglesia Apostólica De La Fe En Cristo Jesús
24,Timrå,62.49,17.33,78.80,47.0,0.0,5.82,SE,1593154091,Stenstans Trafikskola
25,Pachino,36.72,15.09,78.01,55.0,0.0,1.99,IT,1593154093,Liberty House
26,Asău,46.43,26.40,73.00,73.0,0.0,4.70,RO,1593153987,Mirea Liliana

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))